# Lab 1: R Basics

## Jupyter Notebook Basics

Cells, Output, Export, Contextual Help

## R as a calculator

And basic usage of Jupyter Notebook

In [ ]:
# Comments are preceded by the #. Comments are skipped and not executed

In [1]:
1+1

[1] 2

In [2]:
2+3*4 # comment can be placed after a line of code

[1] 14

In [3]:
3^2

[1] 9

In [4]:
sqrt(16)

[1] 4

In [5]:
pi

[1] 3.141593

## Variables

Variable: a place to hold a object, such a number, a function, a matrix, a list, etc.

To define a variable we use the `<-` or `=` operator

In [8]:
x <- 1

In [14]:
x

[1] 1

In [10]:
y = 2

In [11]:
x + y

[1] 3

In [12]:
z <- x + y

In [13]:
z

[1] 3

In [15]:
#R is case sensitive
X + y

ERROR: Error in eval(expr, envir, enclos): object 'X' not found

Variables names can include periods. This is very different from other object oriented programming languages.

In [16]:
this.year <- 2019
this.year

[1] 2019

## Vector (list)

In [63]:
c(160, 187, 175, 165, 180)

[1] 160 187 175 165 180

In [64]:
c("Alice", "Bob")

[1] "Alice" "Bob"

## Playing with Example Datasets

R contains some example datasets for demo purposes. To see them:

In [67]:
data()

Data sets in package ‘arules’:

Adult                   Adult Data Set
AdultUCI                Adult Data Set
Epub                    Epub Data Set
Groceries               Groceries Data Set
Income                  Income Data Set
IncomeESL               Income Data Set
Mushroom                Mushroom Data Set
SunBai                  The SunBai Data Set
Data sets in package ‘datasets’:

AirPassengers           Monthly Airline Passenger Numbers 1949-1960
BJsales                 Sales Data with Leading Indicator
BJsales.lead (BJsales)
                        Sales Data with Leading Indicator
BOD                     Biochemical Oxygen Demand
CO2                     Carbon Dioxide Uptake in Grass Plants
ChickWeight             Weight versus age of chicks on different diets
DNase                   Elisa assay of DNase
EuStockMarkets          Daily Closing Prices of Major European Stock
                        Indices, 1991-1998
Formaldehyde            Determination of Formaldehyde
HairEyeColor            Hair and Eye Color of Statistics Students
Harman23.cor            Harman Example 2.3
Harman74.cor            Harman Example 7.4
Indometh                Pharmacokinetics of Indomethacin
InsectSprays            Effectiveness of Insect Sprays
JohnsonJohnson          Quarterly Earnings per Johnson & Johnson Share
LakeHuron               Level of Lake Huron 1875-1972
LifeCycleSavings        Intercountry Life-Cycle Savings Data
Loblolly                Growth of Loblolly pine trees
Nile                    Flow of the River Nile
Orange                  Growth of Orange Trees
OrchardSprays           Potency of Orchard Sprays
PlantGrowth             Results from an Experiment on Plant Growth
Puromycin               Reaction Velocity of an Enzymatic Reaction
Seatbelts               Road Casualties in Great Britain 1969-84
Theoph                  Pharmacokinetics of Theophylline
Titanic                 Survival of passengers on the Titanic
ToothGrowth             The Effect of Vitamin C on Tooth Growth in
                        Guinea Pigs
UCBAdmissions           Student Admissions at UC Berkeley
UKDriverDeaths          Road Casualties in Great Britain 1969-84
UKgas                   UK Quarterly Gas Consumption
USAccDeaths             Accidental Deaths in the US 1973-1978
USArrests               Violent Crime Rates by US State
USJudgeRatings          Lawyers' Ratings of State Judges in the US
                        Superior Court
USPersonalExpenditure   Personal Expenditure Data
UScitiesD               Distances Between European Cities and Between
                        US Cities
VADeaths                Death Rates in Virginia (1940)
WWWusage                Internet Usage per Minute
WorldPhones             The World's Telephones
ability.cov             Ability and Intelligence Tests
airmiles                Passenger Miles on Commercial US Airlines,
                        1937-1960
airquality              New York Air Quality Measurements
anscombe                Anscombe's Quartet of 'Identical' Simple Linear
                        Regressions
attenu                  The Joyner-Boore Attenuation Data
attitude                The Chatterjee-Price Attitude Data
austres                 Quarterly Time Series of the Number of
                        Australian Residents
beaver1 (beavers)       Body Temperature Series of Two Beavers
beaver2 (beavers)       Body Temperature Series of Two Beavers
cars                    Speed and Stopping Distances of Cars
chickwts                Chicken Weights by Feed Type
co2                     Mauna Loa Atmospheric CO2 Concentration
crimtab                 Student's 3000 Criminals Data
discoveries             Yearly Numbers of Important Discoveries
esoph                   Smoking, Alcohol and (O)esophageal Cancer
euro                    Conversion Rates of Euro Currencies
euro.cross (euro)       Conversion Rates of Euro Currencies
eurodist                Distances Between European Cities and Between
                        US Cities
faithful                Old Faithful Geyser Data
fdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
freeny                  Freeny's Revenue Data
freeny.x (freeny)       Freeny's Revenue Data
freeny.y (freeny)       Freeny's Revenue Data
infert                  Infertility after Spontaneous and Induced
                        Abortion
iris                    Edgar Anderson's Iris Data
iris3                   Edgar Anderson's Iris Data
islands                 Areas of the World's Major Landmasses
ldeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
lh                      Luteinizing Hormone in Blood Samples
longley                 Longley's Economic Regression Data
lynx                    Annual Canadian Lynx trappings 1821-1934
mdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
morley                  Michelson Speed of Light Data
mtcars                  Motor Trend Car Road Tests
nhtemp                  Average Yearly Temperatures in New Haven
nottem                  Average Monthly Temperatures at Nottingham,
                        1920-1939
npk                     Classical N, P, K Factorial Experiment
occupationalStatus      Occupational Status of Fathers and their Sons
precip                  Annual Precipitation in US Cities
presidents              Quarterly Approval Ratings of US Presidents
pressure                Vapor Pressure of Mercury as a Function of
                        Temperature
quakes                  Locations of Earthquakes off Fiji
randu                   Random Numbers from Congruential Generator
                        RANDU
rivers                  Lengths of Major North American Rivers
rock                    Measurements on Petroleum Rock Samples
sleep                   Student's Sleep Data
stack.loss (stackloss)
                        Brownlee's Stack Loss Plant Data
stack.x (stackloss)     Brownlee's Stack Loss Plant Data
stackloss               Brownlee's Stack Loss Plant Data
state.abb (state)       US State Facts and Figures
state.area (state)      US State Facts and Figures
state.center (state)    US State Facts and Figures
state.division (state)
                        US State Facts and Figures
state.name (state)      US State Facts and Figures
state.region (state)    US State Facts and Figures
state.x77 (state)       US State Facts and Figures
sunspot.month           Monthly Sunspot Data, from 1749 to "Present"
sunspot.year            Yearly Sunspot Data, 1700-1988
sunspots                Monthly Sunspot Numbers, 1749-1983
swiss                   Swiss Fertility and Socioeconomic Indicators
                        (1888) Data
treering                Yearly Treering Data, -6000-1979
trees                   Diameter, Height and Volume for Black Cherry
                        Trees
uspop                   Populations Recorded by the US Census
volcano                 Topographic Information on Auckland's Maunga
                        Whau Volcano
warpbreaks              The Number of Breaks in Yarn during Weaving
women                   Average Heights and Weights for American Women
Data sets in package ‘Matrix’:

CAex                    Albers' example Matrix with "Difficult" Eigen
                        Factorization
KNex                    Koenker-Ng Example Sparse Model Matrix and
                        Response Vector
USCounties              USCounties Contiguity Matrix

Use ‘data(package = .packages(all.available = TRUE))’
to list the data sets in all *available* packages.

In [65]:
data("swiss") # load it

To quickly preview a dataset (first `n` rows), use `head()`

In [19]:
head(swiss)
head(swiss, n=3)

             Fertility Agriculture Examination Education Catholic
Courtelary   80.2      17.0        15          12         9.96
Delemont     83.1      45.1         6           9        84.84
Franches-Mnt 92.5      39.7         5           5        93.40
Moutier      85.8      36.5        12           7        33.77
Neuveville   76.9      43.5        17          15         5.16
Porrentruy   76.1      35.3         9           7        90.57
             Infant.Mortality
Courtelary   22.2
Delemont     22.2
Franches-Mnt 20.2
Moutier      20.3
Neuveville   20.6
Porrentruy   26.6

             Fertility Agriculture Examination Education Catholic
Courtelary   80.2      17.0        15          12         9.96
Delemont     83.1      45.1         6           9        84.84
Franches-Mnt 92.5      39.7         5           5        93.40
             Infant.Mortality
Courtelary   22.2
Delemont     22.2
Franches-Mnt 20.2

## Loading Your Own Datasets

CSV: comma separated values

`read.csv()` loads CSV formatted data. It assumes data use comma as delimiter; first row are columns names

Give a name to your dataset; in the example below, the name is mydata.

Then assign to the name the function `read.csv()` and specify inside the parenthesis the path to the data.

## Where are my files?

In [26]:
getwd() # this is where R think it is currently looking at (working directory)

[1] "/Users/alan/Documents/Teaching/IDSC 4444 Fall 2020/Labs/Lab 1 - R Basics"

You can change your work directory to be a folder of your choice

In [27]:
#set Working Directory
setwd("/Users/alan/")

In [28]:
getwd()

[1] "/Users/alan"

In [30]:
setwd('/Users/alan/Documents/Teaching/IDSC 4444 Fall 2020/Labs/Lab 1 - R Basics')
getwd()

[1] "/Users/alan/Documents/Teaching/IDSC 4444 Fall 2020/Labs/Lab 1 - R Basics"

## Reading Data

In [32]:
iris_data <- read.csv("iris.csv")

How do you quickly preview the data we just loaded?

In [33]:
# complete a line of code here

# Working with Libraries (Packages)

A library or a package is a set of tools designed to extend the functionality of the software.

Literally like a real library. R can go read a "book", learn a skill (some functions), and you will be able to use it.

## Installing libraries

In [35]:
install.packages("arules") # may take a while, depending on your machine

Installing package into ‘/usr/local/lib/R/4.0/site-library’
(as ‘lib’ is unspecified)

## Loading libraries

In [36]:
library(arules)

Loading required package: Matrix


Attaching package: ‘arules’


The following objects are masked from ‘package:base’:

    abbreviate, write

# Cleaning Data with R

Now let's work with an example dataset.

In [38]:
mydata<- read.csv("data_cleaning.csv")
mydata

  ID Name  Age Gender
1 1  Alice 15  F
2 2  Bob   30  M
3 3  Cathy 25  F
4 4  Dale  17  M
5 5  Emma  NA  F

Quick glance at the data

In [39]:
summary(mydata)

       ID        Name                Age           Gender
 Min.   :1   Length:5           Min.   :15.00   Length:5
 1st Qu.:2   Class :character   1st Qu.:16.50   Class :character
 Median :3   Mode  :character   Median :21.00   Mode  :character
 Mean   :3                      Mean   :21.75
 3rd Qu.:4                      3rd Qu.:26.25
 Max.   :5                      Max.   :30.00
                                NA's   :1

## Slicing Dataset

`data[<row>, <column>]`

**By row:**

In [44]:
mydata[3:4,]

  ID Name  Age Gender
3 3  Cathy 25  F
4 4  Dale  17  M

**By column:**

In [41]:
mydata[,3:4]

  Age Gender
1 15  F
2 30  M
3 25  F
4 17  M
5 NA  F

In [43]:
mydata[,'Age']

[1] 15 30 25 17 NA

In [46]:
mydata$Age

[1] 15 30 25 17 NA

In [49]:
#Specify variables to summarize
summary(mydata[,3:4]) # slicing the dataset
summary(mydata[,'Age']) # look at the "NA's"

      Age           Gender
 Min.   :15.00   Length:5
 1st Qu.:16.50   Class :character
 Median :21.00   Mode  :character
 Mean   :21.75
 3rd Qu.:26.25
 Max.   :30.00
 NA's   :1

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  15.00   16.50   21.00   21.75   26.25   30.00       1

### More advanced slicing

Filter the dataset with some criteria

In [57]:
mydata_female <- subset(mydata, Gender == "F")
mydata_female

  ID Name  Age Gender
1 1  Alice 15  F
3 3  Cathy 25  F
5 5  Emma  33  F

In [60]:
subset(mydata, Age < 30)

  ID Name  Age Gender
1 1  Alice 15  F
3 3  Cathy 25  F
4 4  Dale  17  M

Subset on specified columns. Use the option `select =` 
then specify the columns' numbers you want to include.
`1:2` means include columns 1 to 2 (included)

In [59]:
subset(mydata, select = 1:2)

  ID Name
1 1  Alice
2 2  Bob
3 3  Cathy
4 4  Dale
5 5  Emma

## Missing values

Identify row with missing value with `is.na()`

For each cell, output `True` if data is not available (NA), `False` if data is present.

In [45]:
is.na(mydata)

     ID    Name  Age   Gender
[1,] FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE
[3,] FALSE FALSE FALSE FALSE
[4,] FALSE FALSE FALSE FALSE
[5,] FALSE FALSE  TRUE FALSE

if you have a large dataset, you should first identify which column has missing data (for example, look at summary)

Next, specify a column to look at

In [48]:
which(is.na(mydata$Age)) # output the position of the missing data

[1] 5

Manually correcting missing data:

In [51]:
mydata$Age[5] <- 33 # just an example
mydata

  ID Name  Age Gender
1 1  Alice 15  F
2 2  Bob   30  M
3 3  Cathy 25  F
4 4  Dale  17  M
5 5  Emma  33  F

## Sorting data

`order()`: get the order of data sorted by a column.

In [50]:
order(mydata$Age)

[1] 1 4 3 2 5

In [53]:
mydata$Name[order(mydata$Age)] # from youngest to the oldest

[1] "Alice" "Dale"  "Cathy" "Bob"   "Emma"

In [56]:
mydata_sorted <- mydata[order(mydata$Age, decreasing = TRUE),] # why a comma here? because this is a data frame!
mydata_sorted

  ID Name  Age Gender
5 5  Emma  33  F
2 2  Bob   30  M
3 3  Cathy 25  F
4 4  Dale  17  M
1 1  Alice 15  F

## Adding a new column to the dataset

In [68]:
#Create new variable
#Let us add a new variable, height
height <- c(160, 187, 175, 165, 180)
mydata$Height <- height
mydata

  ID Name  Age Gender Height
1 1  Alice 15  F      160
2 2  Bob   30  M      187
3 3  Cathy 25  F      175
4 4  Dale  17  M      165
5 5  Emma  33  F      180

## Joining Datasets

Using `merge()`. Load the second dataset in memory first:

In [69]:
mydata2 <- read.csv("data_cleaning2.csv")

In [71]:
mydata2

  ID BirthYear
1 1  2001
2 2  1986
3 3  1991
4 4  1999
5 5  1983

How do you want to merge the data (by which variable)?

In [70]:
mydata_merge <- merge(mydata, mydata2, by = "ID")
mydata_merge

  ID Name  Age Gender Height BirthYear
1 1  Alice 15  F      160    2001
2 2  Bob   30  M      187    1986
3 3  Cathy 25  F      175    1991
4 4  Dale  17  M      165    1999
5 5  Emma  33  F      180    1983